
.whoweare{
 background-color: white;
 display:flex;
 width: 60%;
 margin: 40px;
 justify-content: center;
  align-items: center;
}

.AboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

