@media (min-width:0px) and (max-width:400px){

}
    
input{
    width:95%;
    height:35px;
    display: block;
    align-items: left;
    border: 2px solid grey;
    border-radius: 5px;
}

label{
    display: block;
    font-size: 18px;
    margin-bottom: 7px;
    text-align: left;
}

.form-group{
    padding: 5px;
    width:90%;
    height:85px;
    margin:auto;
}
button{
    display: block;
    width:95%;
    height: 35px;
    background-color: rgb(36, 65, 128);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    height:25px;
}
.danger{
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-size: 14px;
    text-align: left;
}
.registerBox{
    height:350px;
    border: 2px solid rgb(163, 161, 161);
    width:45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 40px;
}
.left_section{
    border-right:2px solid black; 
    height:70%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.right_section{
    height:90%;
    width: 60%;
}

.contactUs{
    display: flex;
    justify-content: center;
    align-items: center;
}